/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body{
    margin: 0 auto;
    width: 100vw;
    background: url("/images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}

section{
    padding: 3rem 10rem ;
}

/*Reusable*/
.container{
    width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255,255,255, 0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before{
    width: 17rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}

/*Header*/
header{
    height:100vh;
}

.top-nav{
    width:100%;
    height:10vh;
    position: fixed;
    right: -100vw;
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 2rem;
}

.nav-link{
    font-family: 'Kaushan Script', sans-serif;
    font-size: 3rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    right: 0;
    border-radius: initial;
}

.menu-toggler{
    position: fixed;
    top: 2rem;
    right: 5rem;
    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #ffe838, #fd57bf);
    width: 100%;
    height: 4px;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate( -450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 10rem;
    font-family: 'Kaushan Script', sans-serif;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-family: 'Kaushan Script', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}


/*About*/

.about{
    height: 100vh;
}

.profile-image{
    margin-right: 1.5rem;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.about-details{
    padding-top: 2.5rem;
    flex: 1;
}

.about-details p{
    padding-bottom: 2rem;
    text-align: center;
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}

.fa-github:hover{
    color: #534d50;
}


/*Skills*/
.my-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1.5rem;
}

.skill p{
    margin-top: 1rem;
}

.icon-container{
    display: flex;
    margin: 2rem 0;
    width: 7rem;
    height: 7rem;
    border: 3px solid #ffe838;
    transform: rotate(45deg);
}

.icon-container i{
    margin: auto;
    font-size: 3.5rem;
    transform: rotate(-45deg);
    transition: color 650ms;
}

/*Experience*/
.my-work{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
}

.my-work-item{
    margin: 0 auto;
    width: 80%;
}

.my-work-item h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem;
}

.my-work-item img{
    border: 2px solid #ffe838;
    width: 380px;
    height: 220px;
}

.link-buttons{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.link-buttons button{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #eee;
    border: 2px solid  #ffe838;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.link-buttons button:hover{
    background: linear-gradient(to top, #ffe838, #fd57bf);
}

/*Hobby*/

.hobby-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.hobby-item{
    width: 80%;
    margin: 0 auto;
}

.hobby-description h1{
    font-size: 2rem;
    opacity: 0.3;
    text-align: center;
    margin-bottom: 1rem;
}

.hobby-description p{
    text-align: center;
    font-size: 1.5rem;
}


/*Footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}


/*Media queries*/
@media (max-width: 1024px) {

    .container{
        width: 100%;
    }

    .my-work img{
        width: 400px;
        align-content: center;
    }

    .my-work-item{
        width: 100%;
    }

    .section-heading{
        padding-left: 50px;
    }

    .profile-image img{
        width: 450px;
        height: 330px;
    }

    .sql p{
        margin-top: 10px;
    }
}